#container{
    margin-top: 5rem;
}

*{
  margin: 0;
  padding: 0;
}

#container{
    margin-top: 5rem;
    width: 100%;

}

body{
	background-color: black;
	width: 100%;
}

.hands{
	width: 100;
	height: 200;
}

.MuiGrid-grid-sm-6-48 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

h1
{
	font-family: 'Helvetica';
	color: #ffc9a8;
	font-size: 50px;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
	font-family: 'Helvetica';
	color: white;
}

.startButton{
}

.namePrompt
{
	width: 220px;
	height: 70px;
	font-size: 25px;
	padding-left: 20px;
}
#inline
{
	display: inline-block;
}
